
    <h2>Add Player to the Database</h2>

    <form action=" <%= players_path %>" method="post">

      <label>
        Name: <input type="text" name="name">
      </label><br>
      <label>
        World Ranking: <input type="text" name="world_ranking">
      </label><br>
      <label>
        Age: <input type="text" name="age">
      </label><br>
      <label>
        Country: <input type="text" name="country">
      </label><br>
      <label>
        Prize Money: <input type="text" name="prize_money">
      </label><br>
      <label>
        Titles: <input type="text" name="titles">
      </label><br>
      <label>
       Image URL: <input type="text" name="image">
      </label><br>

      <input type="submit" value="Submit">

    </form>
